<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1>Welcome to the TEXT ANALYZER:</h1>
<h3>enter Your text below</h3>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 711px; height: 62px;'></textarea><br>

    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <button type='submit'> Analyze Text </button>
</form>
</body>
</html>